html, body{
	margin:0;
	padding:0;
	min-height:100%;
	min-width:100%;
    background: #fff;
    color:#000;
	//display:flex;
	//flex-direction:column;
    --main-bg-color: #c10435;
}

canvas{
	margin:auto;
}

.mdl-layout__header-row{
    img{ 
        max-height: 90%;
        margin-right: 20px;
        left: -50px;
        position:relative;
    }
} 

.mdl-layout .mdl-layout__content{
    display: flex;
    
    .page-content{
        display: flex;
        flex:1; 
        justify-content: center;
        flex-direction: column;
                
                
                
        #noBluetooth, #stepConnect/*, #stepControl*/{
            display: flex;
            align-self: center;
        }
    }
    
    #stepControl{
        display: flex;
        flex:1;
        flex-direction: column; 
          
        .row{
            display: flex;
            flex-direction: row;   
            margin: 20px;
        }
        
        /*.mdl-tabs__panel{
            display: flex;
        }*/
        
        .panel-flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .mdl-tabs__tab-bar{
            margin-bottom: 20px;
        }
        
        .part-joystick{
            display: flex;
            justify-content: center;
        }
        
        h2{
            margin:auto;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    
    
}

.demo-card-wide.mdl-card {
  width: 512px;
}
#noBluetooth .demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/images/ollie_crash.jpg') center / cover;
}

#stepConnect  .demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/images/ollie_connect.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #000;
}

.flex20{
    flex:0.2;
}
.flex60{
    flex:0.6;
}
.flex40{
    flex:0.4;
}
.flex30{
    flex:0.3;
}

$joystick-size:200px;		
 		
 #joystick{		
      margin: auto;
      float: none;
     position:relative;		
     width:$joystick-size;		
     height:$joystick-size;		
     		
     .front, .back{		
         box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 6px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.12);		
         background: var(--main-bg-color);		
         opacity: 1;		
     }		
     		
     		
 } 
 
 @import "override-mdl.scss";